@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts{
    <script data-main="../../Scripts/app/app" src="../../Scripts/require.js"></script>
}
<div id="preview-container" class="row">
    <div class="col-md-6">
        <div data-bind="template: { name: 'employees-template', data: $data }"></div>
    </div>
</div>

<script type="text/html" id="employees-template">
    <div class="employees panel panel-primary">
        <div class="panel-heading">Employee Entry</div>
        <div class="panel-body"
             data-bind="foreach: employees">
            <div class="employee panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="field">
                            <span class="labeled"
                                  data-label="First Name">
                                <input type="text"
                                       data-bind="value: firstName"/>
                            </span>
                        </div>
                        <div class="field">
                            <span class="labeled"
                                  data-label="Last Name">
                                <input type="text"
                                       data-bind="value: lastName"/>
                            </span>
                        </div>
                    </div>
                    <div data-bind="template: { name: 'dependents-template', data: $data }"></div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary"
                            data-bind="click: addDependent">
                        <span class="glyphicon glyphicon-plus"></span>Add Dependent
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="addMore btn btn-primary"
                    data-bind="click: addEmployee">
                <span class="glyphicon glyphicon-plus"></span>Add Employee
            </button>

        </div>
    </div>
</script>

<script type="text/html" id="dependents-template">
    <div class="dependents panel panel-default"
         data-bind="css: { expanded: hasDependents }">
        <div class="panel-heading">Dependents</div>
        <div class="panel-body"
             data-bind="visible:hasDependents">
            <div data-bind="foreach: dependents">
                <div class="row dependent">
                    <div class="field">
                        <span data-label="First Name"
                              data-bind="css: { labeled: $index() == 0 }">
                            <input type="text"
                                   data-bind="value: firstName"/>
                        </span>
                    </div>
                    <div class="field">
                        <span data-label="Last Name"
                              data-bind="css: { labeled: $index() == 0 }">
                            <input type="text"
                                   data-bind="value: lastName"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
