@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts{
    <script data-main="../../Scripts/app/app" src="../../Scripts/require.js"></script>
}
<div id="preview-container" class="row">
    <div class="col-md-6">
        <div data-bind="template: { name: 'employees-template', data: $data }"></div>
    </div>
    <div class="col-md-6">
        <div data-bind="template: { name: 'cost-summaries-template', data: $data }"></div>
    </div>
</div>

<script type="text/html" id="employees-template">
    <div class="employees panel panel-primary">
        <div class="panel-heading">Employee Entry</div>
        <div class="panel-body"
             data-bind="foreach: employees">
            <div class="employee panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="field">
                            <span class="labeled"
                                  data-label="First Name">
                                <input type="text"
                                       data-bind="value: firstName"/>
                            </span>
                        </div>
                        <div class="field">
                            <span class="labeled"
                                  data-label="Last Name">
                                <input type="text"
                                       data-bind="value: lastName"/>
                            </span>
                        </div>
                    </div>
                    <div data-bind="template: { name: 'dependents-template', data: $data }"></div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary"
                            data-bind="click: addDependent">
                        <span class="glyphicon glyphicon-plus"></span>Add Dependent
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="addMore btn btn-primary"
                    data-bind="click: addEmployee">
                <span class="glyphicon glyphicon-plus"></span>Add Employee
            </button>

        </div>
    </div>
</script>

<script type="text/html" id="dependents-template">
    <div class="dependents panel panel-default"
         data-bind="css: { expanded: hasDependents }">
        <div class="panel-heading">Dependents</div>
        <div class="panel-body"
             data-bind="visible:hasDependents">
            <div data-bind="foreach: dependents">
                <div class="row dependent">
                    <div class="field">
                        <span data-label="First Name"
                              data-bind="css: { labeled: $index() == 0 }">
                            <input type="text"
                                   data-bind="value: firstName"/>
                        </span>
                    </div>
                    <div class="field">
                        <span data-label="Last Name"
                              data-bind="css: { labeled: $index() == 0 }">
                            <input type="text"
                                   data-bind="value: lastName"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="cost-summaries-template">
    <div class="costSummaries panel panel-info">
        <div class="panel-heading">Cost Preview</div>
        <!-- ko with: costSummaries -->
        <!-- ko ifnot: hasItems -->
        <div class="alert-warning">Enter employees to see cost summaries</div>
        <!-- /ko -->
        <!-- ko if: hasItems -->
        <div data-bind="foreach: items">
            <div class="row"
                 data-bind="visible: hasData">
                <div data-bind="with: employee">
                    <span data-bind="text: fullName"></span>
                </div>
                <div data-bind="foreach: lineItems">
                    <div class="lineItem">
                        <div class="row">
                            <div class="col-md-1">
                                <span data-bind="click: toggleExpand">
                                    <span class="glyphicon glyphicon-chevron-right"
                                          data-bind="visible: isCollapsed"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-bind="visible: isExpanded"></span>
                                </span>
                            </div>
                            <div class="col-md-7"
                                 data-bind="text: description"></div>
                            <div class="col-md-4 money"
                                 data-bind="text: perAnnumDisplay,
                                            css: { discount: isDiscount }"></div>
                        </div>
                        <div class="lineItemDetails" 
                             data-bind="foreach: perPayPeriodDisplay,
                                        css: { expanded: isExpanded }">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-2"
                                     data-label="Pay Period"
                                     data-bind="text: description,
                                            css: { labeled: $index() == 0 }"></div>
                                <div class="col-md-8"
                                     data-label="Amount"
                                     data-bind="css: { labeled: $index() == 0 }">
                                    <span class="money" 
                                          data-bind="text: value,
                                                 css: { discount: $parent.isDiscount }"></span>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="row summary total">
                    <div class="col-md-8">Employee Total</div>
                    <div class="col-md-4 money"
                            data-bind="text: totalPerAnnumDisplay"></div>
                </div>
            </div>
        </div>
        <div class="row grand total">
            <div class="col-md-8">Grand Total</div>
            <div class="col-md-4 money"
                    data-bind="text: totalPerAnnumDisplay"></div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <div class="panel-footer">
            <button class="updateSummary btn btn-primary"
                    data-bind="click: $parent.updateCostSummaries">
                <span class="glyphicon glyphicon-refresh"></span>Update
            </button>
        </div>
    </div>
</script>